

<button *ngIf="AttemptAgain" (click)="Start()">Start Test</button>

<div *ngIf="isstart">
    <div *ngIf="AttemptAgain">
    <ol>
        <li *ngFor="let question of questions; let i = index">
            <p>{{ question.questionText }}</p>
            <ul>
              <li *ngFor="let answer of question.answers; let j = index">
                <label>
                    
                    <input type="radio" name="question{{ i }}" [(ngModel)]="selectedAnswers[i]" [value]="answer" (change)="check(question, selectedAnswers[i])">
                    {{ answer }}
                  </label>             
                 </li>
            </ul>
          </li>
     </ol>
     </div>
     <button *ngIf="Againscore" (click)="submitAnswers()" name = "score">See the score</button>
     <div *ngIf="showscore">
            <div>
        <h2>Your Score: {{ score }} / {{ questions.length }}</h2> 
    </div>
    <div>
        <h3>Try attempting quiz again </h3><br><br>
        <button (click)="Start()"><a href="src/app/app.component.html">Attempt Again</a></button>
        
    </div>
</div>
 </div><br>